<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do List</title>
    
    <link href="/styles/style.css" rel="stylesheet">
</head>
<body>

    <h1>To do List</h1>
        
    <p id="time"><!-- Current date and day. Format: (Day, Month date) --></p>
    
    <!--Logos from: https://www.svgrepo.com/collection/duotone-business-vectors/-->
    <div class="headerBtns">
        <a href="/daily">
            <button id="daily" class="headerbtnwithlogos">
                <img src="Icons/calendar.svg" width="40px">
                Daily Tasks
            </button>
        </a>
        
        <a href="/work">
            <button id="work" class="headerbtnwithlogos">
                <img src="/Icons/briefcase.svg" width="40px">
                Work Tasks
            </button> 
        </a>
        
    </div>
    

    <div class="add-and-view-task">
        <div class="task-container">
            <%if(locals.tasks){%>
                <%for(let i=0;i<tasks.length;i++){%>
                    <div class="tasks">
                        <input id=<%="task"+i%> type="checkbox">
                        <label for=<%="task"+i%>><%=tasks[i]%></label>
                    </div>
                <%}%>
            <%}%>
        </div>

        <div class="add-new-task">
            <input id="new-taskname" name="new-taskname" type="text" placeholder="Add new task" required>
            <input id="add-task-btn" type="button" value="+">
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/function.js"></script>
    
</body>
</html>